<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <!-- <script src="jquery-3.4.1.min.js"></script>
        <title>Test</title>
        <link rel="stylesheet" type="text/css" href="css/chessboard-1.0.0.css">
        <script src="js/chessboard-1.0.0.js"></script> -->
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
        <!-- <script>window.jQuery || document.write('<script src="{{
          url_for('static', filename='jquery-3.4.1.min.js') }}">\x3C/script>')</script> -->


        <script src="{{ url_for('static', filename='jquery-3.4.1.min.js') }}"></script>
        <title>Test</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='chessboard-1.0.0.css') }}">
        <script src="{{ url_for('static', filename='js/chessboard-1.0.0.js') }}"></script>
    </head>
    <body>

  <div id="myBoard" style="width: 800px; height: 800px;"></div>
  <script> 

var config = {
  draggable: true,
  position: 'start',
  // onChange: onChange,
  onDrop: onDrop
  }

var board = Chessboard('myBoard', config)

// function writeMovesToConsole(startPos, endPos, piece) {
//   console.log(board.Chessboard.)
// }

// Taken from https://chessboardjs.com/examples#4000
function onChange (oldPos, newPos) {
  console.log('Position changed:')
  console.log('Old position: ' + Chessboard.objToFen(oldPos))
  console.log('New position: ' + Chessboard.objToFen(newPos))
  console.log('~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~')
}

// Taken from https://chessboardjs.com/examples#4004
function onDrop (source, target, piece, newPos, oldPos, orientation) {
  console.log('Source: ' + source)
  console.log('Target: ' + target)
  console.log('Piece: ' + piece)
  console.log('New position: ' + Chessboard.objToFen(newPos))
  console.log('Old position: ' + Chessboard.objToFen(oldPos))
  console.log('Orientation: ' + orientation)
  console.log('~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~')
  nPos = Chessboard.objToFen(newPos) 
  $.post("/write_pos_to_flask", {
     nPos:Chessboard.objToFen(newPos)
  })
}

</script> 
</body>
</html>